

<div id="trainerPageContainer">
<h1>Trainer Page</h1>

<p>Trainer: {{ trainername }}</p>



<div  class="catchPokemonContainer">
    <div (click)=" deletePokemon(pokemon)" class="containerPokemon" *ngFor="let pokemon of pokemon">
        <img src={{pokemon[1]}} alt="">
        <h1 id="pokemonName">{{pokemon[0]}}</h1>
    </div>
</div>
</div>