#trainerPageContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


.catchPokemonContainer{
    width: 90vw;
    height: auto;


    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center
}
.containerPokemon{
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-radius: 20px;

    background-color: white;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
img{
    background-color: white;
}
#pokemonName{
    background-color: white;
}