#header{
    width: 100vw;
    height:90px;

    background-color: #1976d2;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#logout{
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1976d2;
    border: solid #FFDE00;
    border-radius: 15px;
   /* width: 50px;
    height:50px;
    border: 1px solid;
    border-radius:40px;

    background-color: #FF0000;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;*/
}
#logout:hover{
    background-color: #CC0000;
}
img{
    width: 150px;
    height:auto;
    background-color: #1976d2;
}

button{
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1976d2;
    border: solid #FFDE00;
    border-radius: 15px;
   

   
}