
<div id="header">

    
    <img src="../../../assets/img/Pokémon_logo.svg" alt="" />
    <button (click)="cataloguePage()" type="button">catalogue</button>
    <button (click)="trainerPage()" type="button">trainerpage</button>

    <div id="logout" (click)="onLogout()">logout</div>
</div>
