*,body{
    margin:0;
    background-color:white transparent;
}
h1{
    background-color: white transparent;
}
.catalogueContainer{
    width: 90vw;
    height: auto;
    border: solid 0px;
    border-radius: 2px;

    background-color: white transparent;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center
}
.containerPokemon{
    width: 200px;
    height: 200px;
    border: solid 1px;
    border-radius: 20px;

    background-color: white;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
img{
    background-color:white;
}
#pokemonName{
    background-color:white;
}
#catalogueTitle{
    margin-left: 35%;
}