<h1 id="catalogueTitle" >Catalogue of Pokemons</h1>

<!--ul *ngFor="let pokemon of pokemonNames">{{pokemon}}</ul-->
<div  class="catalogueContainer">
    <div (click)="onCatch(pokemon)" class="containerPokemon" *ngFor="let pokemon of pokemonArr">
        <img  value="d"   src={{pokemon[1]}} alt="">
        <h1 id="pokemonName">{{pokemon[0]}}</h1>
    </div>

</div>
