<form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <fieldset class="form">
        <label for="trainername">Trainername</label>
        <input name="trainername"
                ngModel
                #trainername="ngModel" 
                id="trainername" 
                type="text"
                placeholder="Trainername"  
                max="10" 
                min="3" 
                required/>
    </fieldset>
    <button type="submit">Submit</button>
</form>
 