.form{
    background-color: white;
}
label{
    background-color: white;
}
input{
    background-color: white;
}

button{
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1976d2;
    border: solid #FFDE00;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    margin-left: 30%;
}