#loginForm{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}
.loginContainer{
    width:300px;
    height:300px;
    border: solid 1px;
    border-radius: 10px;
    
    background-color:white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    background-color: white ;
}